---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import logo from "../images/logo.png";
---

<footer class="text-light">
    <section>
        <h3
            class="bg-dark uppercase font-primary text-2xl tracking-widest py-4"
        >
            Vim & Vigour
        </h3>
        <p
            class="bg-dark uppercase font-primary text-sm tracking-widest p-4 inline-grid justify-end items-center"
        >
            Follow us
        </p>
        <div class="bg-dark py-4 px-5 grid grid-cols-2 gap-4 place-content-center">
            <a href=""><Icon name="twitter" class="w-4 h-4 fill-white" /></a>
            <a href=""><Icon name="instagram" class="w-4 h-4" /></a>
        </div>
        <div class="col-span-full bg-dark flex flex-row justify-between pt-4 pb-16">
            <p class="font-primary text-sm text-light opacity-80">Copyright 2023 Vim & Vigour United Kingdom</p>
            <p class="font-primary text-sm text-light opacity-80">Via Francana 23 Pavia</p>
        </div>
    </section>
</footer>

<style>
    footer {
        display: grid;
        grid-template-columns: minmax(1rem, 25vw) 1fr minmax(1rem, 25vw);
        grid-auto-columns: 1fr;
    }
    footer > section {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-auto-columns: 1fr;
        gap: 1px;
        background-color: white;
        border-top: 1px solid white;
    }
</style>
